/* ITC cheltenham serif*/
@font-face {
  font-family: 'cheltenham';
  src : url('../fonts/cheltenham/CheltBoo.eot');
  src : url('../fonts/cheltenham/CheltBoo.eot?#iefix') format('eot'),
        url('../fonts/cheltenham/CheltBoo.woff2') format('woff2'),
        url('../fonts/cheltenham/CheltBoo.woff') format('woff'),
        url('../fonts/cheltenham/CheltBoo.ttf') format('truetype');
  font-weight: 400; /* cheltenham book */
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'cheltenham';
  src : url('../fonts/cheltenham/CheltBooIta.eot');
  src : url('../fonts/cheltenham/CheltBooIta.eot?#iefix') format('eot'),
        url('../fonts/cheltenham/CheltBooIta.woff2') format('woff2'),
        url('../fonts/cheltenham/CheltBooIta.woff') format('woff'),
        url('../fonts/cheltenham/CheltBooIta.ttf') format('truetype');
  font-weight: 400; /* cheltenham book italic*/
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'cheltenham';
  src : url('../fonts/cheltenham/CheltBol.eot');
  src : url('../fonts/cheltenham/CheltBol.eot?#iefix') format('eot'),
        url('../fonts/cheltenham/CheltBol.woff2') format('woff2'),
        url('../fonts/cheltenham/CheltBol.woff') format('woff'),
        url('../fonts/cheltenham/CheltBol.ttf') format('truetype');
  font-weight: 700; /* cheltenham bold */
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'cheltenham';
  src : url('../fonts/cheltenham/CheltBolIta.eot');
  src : url('../fonts/cheltenham/CheltBolIta.eot?#iefix') format('eot'),
        url('../fonts/cheltenham/CheltBolIta.woff2') format('woff2'),
        url('../fonts/cheltenham/CheltBolIta.woff') format('woff'),
        url('../fonts/cheltenham/CheltBolIta.ttf') format('truetype');
  font-weight: 700; /* cheltenham bold italic*/
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
/* end cheltenham */
/* Ubuntu */
@font-face{
  font-family: 'Ubuntu'; /* Light */
  src : url('../fonts/ubuntu/Ubuntu-L.eot');
  src : url('../fonts/ubuntu/Ubuntu-L.eot?#iefix') format('eot'),
        url('../fonts/ubuntu/Ubuntu-L.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-L.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-L.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu'; /* light italic*/
  src : url('../fonts/ubuntu/Ubuntu-LI.eot');
  src : url('../fonts/ubuntu/Ubuntu-LI.eot?#iefix') format('eot'),
        url('../fonts/ubuntu/Ubuntu-LI.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-LI.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-LI.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Ubuntu'; /* regular */
  src : url('../fonts/ubuntu/Ubuntu-R.eot');
  src : url('../fonts/ubuntu/Ubuntu-R.eot?#iefix') format('eot'),
        url('../fonts/ubuntu/Ubuntu-R.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-R.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-R.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu'; /* regular italic*/
  src : url('../fonts/ubuntu/Ubuntu-RI.eot');
  src : url('../fonts/ubuntu/Ubuntu-RI.eot?#iefix') format('eot'),
        url('../fonts/ubuntu/Ubuntu-RI.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-RI.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-RI.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Ubuntu'; /* Medium */
  src : url('../fonts/ubuntu/Ubuntu-M.eot');
  src : url('../fonts/ubuntu/Ubuntu-M.eot?#iefix') format('eot'),
        url('../fonts/ubuntu/Ubuntu-M.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-M.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-m.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu'; /* Medium italic*/
  src : url('../fonts/ubuntu/Ubuntu-MI.eot');
  src : url('../fonts/ubuntu/Ubuntu-MI.eot?#iefix') format('eot'),
        url('../fonts/ubuntu/Ubuntu-MI.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-MI.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-MI.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Ubuntu'; /* Bold */
  src : url('../fonts/ubuntu/Ubuntu-B.eot');
  src : url('../fonts/ubuntu/Ubuntu-B.eot?#iefix') format('eot'),
        url('../fonts/ubuntu/Ubuntu-B.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-B.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-B.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu'; /* Bold italic*/
  src : url('../fonts/ubuntu/Ubuntu-BI.eot');
  src : url('../fonts/ubuntu/Ubuntu-BI.eot?#iefix') format('eot'),
        url('../fonts/ubuntu/Ubuntu-BI.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-BI.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-BI.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}

/*Ubuntu condensed*/
@font-face{
  font-family: 'Ubuntu Condensed'; /* Regular Condensed */
  src : url('../fonts/ubuntu/Ubuntu-C.eot');
  src : url('../fonts/ubuntu/Ubuntu-C.eot?#iefix') format('eot'),
        url('../fonts/ubuntu/Ubuntu-C.woff2') format('woff2'),
        url('../fonts/ubuntu/Ubuntu-C.woff') format('woff'),
        url('../fonts/ubuntu/Ubuntu-C.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
/* end ubuntu condensed */
/* @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed'); */

/* End Ubuntu */
html {
  height: 100%;
  background: url("../img/countryside.jpg") no-repeat top left,
  linear-gradient(to bottom, rgba(201,228,247,1.0), rgba(100,128,53,1.0), rgba(14,24,13,1.0)) no-repeat top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-size: 24px;
  color: rgba(14,24,13,1.0);
  margin: 0 1em 0 1em;
}
h1 {
  font-size: 3em;
  text-align: center;
  margin: .75em 1em 0 1em;
}
.intro {
  font-size: 1em;
  color: rgba(100,128,53,1.0);
  text-align: center;
  margin: .5em 0 0 0;
  padding: 0 0 0 0;
}
.col {
  width: 30%;
  float: left;
  background-color: rgba(100,128,53,0.5);
  margin: 1em 1em 1em 1em;
}
.col img {
  width: 100%;
  margin: 0 0 0 0;
  padding:0 0 0 0;
  border-top: 1em solid rgba(100,128,53,1.0);
  border-bottom: 1em solid rgba(100,128,53,1.0);
}
.col h2 {
  font-family: 'ubuntu', sans-serif;
  font-variant: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  padding: 0 1em 0 1em;
}
.col p {
  font-family: 'ubuntu', sans-serif;
  font-variant: normal;
  font-style: normal;
  font-weight: 400;
  font-size: .9em;
  padding: 0 1em 0 1em;
}
@media only all and (max-width: 1500px) {
  .col {
    margin: 1em .5em 1em .5em;
  }
}

@media only all and (max-width: 980px) {
  h1 {
    font-size: 2em;
  }
  .intro {
    font-size: .9em;
    margin: .2em 0 1em 0;
  }
  .col h2 {
    font-family: 'ubuntu', sans-serif;
    font-variant: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    padding: 0 1em 0 1em;
  }
  .col p {
    font-family: 'ubuntu', sans-serif;
    font-variant: normal;
    font-style: normal;
    font-weight: 400;
    font-size: .7em;
    padding: 0 1em 0 1em;
  }
}
@media only all and (max-width: 795px) {
  h1 {
    font-size: 1.5em;
  }
  .intro {
    font-size: .8em;
    margin: .1em 0 .5em 0;
  }
  .col {
    width: 33.33%;
    margin: 0 0 0 0;
  }
  .col img {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-top: .5em solid rgba(100,128,53,1.0);
    border-bottom: .5em solid rgba(100,128,53,1.0);
  }
}
@media only all and (max-width:536px) {
  h1 {
    font-size: 1.45em;
    margin: 1em .5em 0 .5em;
  }
  .intro {
    font-size: .75em;
    color: rgba(14,24,13,1.0);
    margin: 0 0 0 0;
  }
}
@media only all and (max-width:460px) {
  h1 {
    font-size: 1.25em;
    margin: .5em .5em 0 .5em;
  }
  .intro {
    margin: .5em 0 0 0;
  }
}


/* cheltenham converted */
.cheltenham {
  font-family: 'cheltenham', 'Palatino Linotype', Palatino, Palladio, 'URW Palladio L',
    'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter',
    'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow',
    'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L',
    Georgia, serif;
  font-variant: normal;
}
.cheltenhamBook {
  font-style: normal;
  font-weight: 400;
}
.cheltenhamBookItalic {
  font-style: italic;
  font-weight: 400;
}
.cheltenhamBold {
  font-style: normal;
  font-weight: 700;
}
.cheltenhamBoldItalic {
  font-style: italic;
  font-weight: 700;
}
/* end cheltenham */

/* ubuntu downloaded from google */
.ubuntu {
  font-family: 'ubuntu', sans-serif;
  font-variant: normal;
}
.ubuntuLight {
  font-style: normal;
  font-weight: 300;
}
.ubuntuLightItalic {
  font-style: italic;
  font-weight: 300;
}
.ubuntuReg {
  font-style: normal;
  font-weight: 400;
}
.ubuntuRegItalic {
  font-style: italic;
  font-weight: 400;
}
.ubuntuMed {
  font-style: normal;
  font-weight: 500;
}
.ubuntuMedItalic {
  font-style: normal;
  font-weight: 500;
}
.ubuntuBold {
  font-style: normal;
  font-weight: 700;
}
.ubuntuBoldItalic {
  font-style: italic;
  font-weight: 700;
}

.ubuntuCondensed {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-variant: normal;
  /* letter-spacing: .01em;
  word-spacing: .02em; */
}
.ubuntuCondensedReg {
  font-style: normal;
  font-weight: 400;
}
/* <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
 */
/* End ubuntu classes */
